* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  font-family: IBMPlexSans-SemiBold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: middle;
  -ms-flex-align: middle;
  align-items: middle;
  position: absolute;
  visibility: visible;
  background:#464646;
  width:100%;
  height:100%;
  top: 0px;
  left: 0px;
  margin: 0px;
}
h1 {
  font-size:5vh;
  color:#aad889;
  letter-spacing:0;
  text-align:center;
  letter-spacing: 1;
  visibility: visible;}
p {
  font-family:IBMPlexSans;
  font-size:18px;
  color:#aad889;
  letter-spacing:0;
  text-align:left;
  visibility: visible;
  width:70%;
  margin: auto;}
a{
  color: #aad889;
}
a:link{
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}
a:hover{
  color: #83c653;
}
a:active{
  color: #83c653;
}
li {
  list-style: none;
}
img {
  max-width: 202px;
  position: absolute;
  left: 10px;
  top: 28px;
  height: 57px;}
.banner {
  height: 23px;
  width: 100%;
  align-self: center;
  position: absolute;
  visibility: visible;
  background:#000000;
  top: 0%;
}
.prompt{
  align-items: center;
  font-family:'IBM Plex Sans';
  letter-spacing:0;
  text-align: left;
  align-self: center;
  width: 70%;
  height: 65%;
  margin: auto;
  color:#aad889;
}
.results {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0%;
}
.barwrapper {
  width: 60%;
  float: right;
}
.item {
  width: 40%;
}
.line {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  left: 2%;
  padding: 2%;
  width:70%;
  height:43px;}
.votebox {
  height:50%;
  margin: auto;
  position: relative;
  overflow: visible;
  display: inline-block;
}
.votebar {
  position:absolute;
  background:#08091e;
  border:none;
  display:inline-block;
  color: #aad889;
  cursor: pointer;
  height: 15px;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 20%;
  white-space:nowrap}
.votebtn {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background:#08091e;
  border:none;
  margin-left: 40px;
  border-radius: 50%;
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #aad889;
  cursor:pointer;
  white-space:nowrap;
  user-select:none;}
.votebtn:hover{
  box-shadow:0 10px 20px 0 rgba(0,0,0,0.2),0 10px 20px 0 rgba(0,0,0,0.59)
}
.votebtn:checked{

}
.ballot {
  flex-direction: column;
  display: flex;
  padding-top: 4%;
  width: 100%;
  left: 0%;
}
.inputbox{
  top: 10%;
  width: 75%;
  margin: auto;
  align-self: center;
}
.loginbox{
  align-items: center;
  font-family:'IBM Plex Sans';
  font-size:3vh;
  color:#ffffff;
  letter-spacing:0;
  text-align: left;
  align-self: center;
  width:100%;
  height: 65%;
  margin: 0;
}
input[type="text"]{
  border-radius:4px;
  width:80%;
  height:10%;
  font-size: 2vh;
}
input[type="password"]{
  border-radius:4px;
  width:80%;
  height:10%;
  font-size: 2vh;
}
input[type="submit"]{
  background:#08091e;
  width:147px;
  height:47px;
  font-size: 2.5vh;
  color: #ffffff;
  float: right;
  border-style: none;
  border-radius:4px;
  margin-right: 5%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="p"] {
      font-size: 16px;
  }
  [class*="h1"] {
      font-size: 20px;
  }
}
